<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My portfolio">
    <meta name="author" content="Richard Booth">
    <title>{{ site.title }}</title>

    <script src="https://use.fontawesome.com/ac40f1a7ae.js"></script>
    <link href="assets/css/main.css" rel="stylesheet">
  </head>

  <body>
    <!-- content -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
